apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-db
  namespace: default  # Change to your desired namespace if needed
spec:
  replicas: 1  # Number of MongoDB instances to run
  selector:
    matchLabels:
      app: mongo-db
  template:
    metadata:
      labels:
        app: mongo-db
    spec:
      containers:
        - name: mongo-db
          image: lexmarkkubernetes/db_microservice:latest  # Update to your custom image if needed
          ports:
            - containerPort: 27017  # Port exposed by MongoDB
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db  # Mount path for persistent storage
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc  # Reference to a PVC
